
#include <windows.h>
#include <winres.h>

#include "resource.h"
#include "signaturePadModelIds.h"

VS_VERSION_INFO VERSIONINFO

 FILEVERSION 2,0,0,1
 PRODUCTVERSION 2,0,0,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "InnoVisioNate\0"
            VALUE "FileDescription", "CursiVision\0"
            VALUE "FileVersion", "3, 0, 1, 0\0"
            VALUE "InternalName", "signotecCV.ocx\0"
            VALUE "LegalCopyright", "Copyright © 2013 InnoVisioNate Inc.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "signotecCV.ocx\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "CursiVision\0"
            VALUE "ProductVersion", "3.0.1\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#ifndef SCRIPTEL_EXCLUSIVE
IDD_PAD_PROPERTIES DIALOGEX 0, 0, 256, 256 + 14
#else
IDD_PAD_PROPERTIES DIALOGEX 0, 0, 256, 128
#endif
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN

   LTEXT "This pad should occupy",IDC_STATIC, 10, 16, 64 + 16, 14
   EDITTEXT IDDI_PAD_WIDTH_IN_INCHES,10 + 64 + 16, 16 - 4, 32, 12, ES_CENTER
   LTEXT "inches in width on the document",IDC_STATIC, 10 + 64 + 16 + 32 + 4, 16, 160, 14

   LTEXT "Note: The pad width setting effectively changes the zoom factor of the pad over the document.",IDC_STATIC, 10, 16 + 14, 240, 24

   LTEXT "The ""Origin Point"" is a point inside the rectangle of the pad which you can use to set the origin of the signature. Click Origin Point to set this value",IDC_STATIC,10, 16 + 14 + 24, 128 + 64 + 32, 30
   PUSHBUTTON "Origin Point",IDDI_PAD_ORIGINPOINT_SET,10, 16 + 14 + 24 + 30,48,14

   LTEXT "Press Ink to set the width and color of lines",-1,10 + 48 + 4 + 2, 16 + 14 + 24 + 30 + 6, 136, 12

   PUSHBUTTON "Ink",IDDI_INK_PROPERTIES_SET,10 + 48 + 8 + 136 + 4 + 2, 84,32,14

#define ROLLUP 110

#include "changePadRadioButtons.rc"

   LTEXT "",IDDI_PAD_MODEL_CHOICE_NONADMIN,10,ROLLUP + 112, 256, 32

END

IDD_PAD_ORIGINPOINT DIALOGEX 0, 0, 128, 64
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION "Origin Point"
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN

   LTEXT "Click the mouse to pick up the origin point, then, \r\
move the mouse and click again to set the point.\r\
Or, double click the desired location.",IDC_STATIC, 8, 8, 128 + 64, 48

   PUSHBUTTON "Ok", IDDI_PAD_ORIGINPOINT_OK, 4, 32, 32, 14,WS_TABSTOP
   PUSHBUTTON "Cancel", IDDI_PAD_ORIGINPOINT_CANCEL, 8 + 24 + 4, 32, 32, 14,WS_TABSTOP

END

IDD_PAD_INK_PROPERTIES DIALOGEX 0, 0, 128 + 64, 64
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION "Ink"
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN

   LTEXT "Please choose the weight and color of the ink.",IDC_STATIC, 8, 8, 128 + 64 - 16, 14

   LTEXT "Weight:",-1,8,8 + 14 + 4, 24, 12
   EDITTEXT IDDI_INK_PROPERTIES_WEIGHT,8 + 24 + 2, 8 + 14, 24, 14, ES_CENTER | ES_NUMBER

   LTEXT "Color:",-1,8 + 24 + 2 + 24 + 8 + 16,8 + 14 + 4, 24, 12
   EDITTEXT IDDI_INK_PROPERTIES_COLOR_SWATCH,8 + 24 + 2 + 24 + 8 + 16 + 24,8 + 14, 20, 14,WS_VISIBLE | WS_EX_CLIENTEDGE

   PUSHBUTTON "...",IDDI_INK_PROPERTIES_COLOR_CHOOSE,8 + 24 + 2 + 24 + 8 + 16 + 24 + 2 + 16 + 4,8 + 14 , 20, 14

   PUSHBUTTON "Ok", IDDI_INK_PROPERTIES_OK, 4, 32 + 12, 32, 14,WS_TABSTOP
   PUSHBUTTON "Cancel", IDDI_INK_PROPERTIES_CANCEL, 4 + 32 + 4, 32 + 12, 32, 14,WS_TABSTOP

END

1 TYPELIB "SignaturePad.tlb"

STRINGTABLE {

IDS_NOT_INSTALLED "The signotec Signature Pad API is not present or is non-functional."

IDDI_PAD_MODEL_CHOICE_LABEL2 "Note: When you change the active signature pad and re-sign documents signed with a different pad \
you should choose ""Forget"" on the signing control panel to re-specify the location to sign.\n\
If you change the pad, any other settings made above will not be saved."

IDDI_PAD_MODEL_CHOICE_NONADMIN "Changing the Signature pad requires administrative privileges.\nPlease run CursiVision \
""As Administrator"" to change the signature pad."
}